body::-webkit-scrollbar {
    width: 6px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: white   ;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #0a7ddd;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid #0a7ddd;  /* padding вокруг плашки */
}

body {
    font-family: sans-serif;
}

.tab-pane .section {
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 0;
    margin: 0 0 0 15px;
    grid-gap: 0px;
    min-width: 170px;
    max-width: 170px;
    overflow: hidden;
    border-radius: 10px;
}

.tab-pane .section .section-block {
    width: 170px;
    margin-bottom: 0px;
}

.tab-pane .section .activity-header {
    border: none;
    background: none;
    padding: 10px 10px 10px 25px;
    cursor: pointer;
    font-weight: 600;
    color: #495057;
}

.tab-pane .section .activity-header:hover {
    background-color: #f1f1f1;
 }

.section-block
{
    width: 100%;
    margin-bottom: 4px;
}
.button-row
{
    width: 100%;
}
.activity-block {
    width: 100%;
    display: flex;
    margin-bottom: 4px;
    box-shadow: 0px 15px 30px #ddd;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    height: fit-content;
}

.activity-wrap.section {
    display: flex;
}

.activity-wrap
{
    box-shadow: #4c385633 0px 0px 15px 2px;
    margin: 20px 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.support-wrap
{
    box-shadow: #4c385633 0px 0px 15px 2px;
    margin: 20px 20px;
    padding: 14px;
}
.activity-header {
    border-bottom: 2px solid #3C3C3C;
    font-size: 16px;
    font-weight: bold;
    /*background: #0a7ddd;*/
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.activity-block:hover .activity-header {
    white-space: normal;
}

.activity-block:hover .activity-desc p {
    display: block;
}

.activity-desc {
    font-size: 14px;
    min-height: 55px;
    /*border: 1px solid #0a7ddd;*/
    /*padding: 5px 10px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-enable .activity-header {
    color: black!important;
}

.activity-enable .activity-header {
    border-bottom: 2px solid #0a7ddd;
}

.activity-enable > div:first-child
{
    /*background: #BCED20;*/
}
.activity-detail
{
    display: none;
}

/*.button-enable*/
/*{*/
/*    cursor: pointer;*/
/*    color: black;*/
/*    font-weight: 600;*/
/*    margin: 10px 0 5px;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/
.button-enable span {
    /*padding: 4px 15px;*/
    /*background-color: #BCED20;*/
}

/*.button-enable span:hover {*/
/*    opacity: 0.8;*/
/*    transition: 0.3s;*/
/*}*/

/*.button-disable {*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    font-weight: 600;*/
/*    margin: 10px 0 5px;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*.button-disable span {*/
/*    padding: 4px 25px;*/
/*    background-color: #ff7115;*/
/*}*/

/*.button-disable span:hover {*/
/*    opacity: 0.8;*/
/*    transition: 0.3s;*/
/*}*/

.supportrequest-invalid
{
    border: rgba(255,90,0, 0.5) 1px solid;
}
.supportrequest_wrong
{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 90, 0, 0.5);
}
.about-title, .about-text {
    box-shadow: #4c385633 0px 0px 15px 2px;
    margin: 20px 20px;
    padding: 14px;
}
.about-wrap p
{
    margin-bottom: 0px;
}
.nav {
    padding-left: 14px;
}
.section-block .active{
    background: #0a7ddd !important;
    color: white!important;
}

.nav-tabs .nav-link {
    font-weight: 500;
    color: #0a7ddd;
}

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box_disable {
    background-color: #3C3C3C;
}

.button-box_enable {
    background-color: #0a7ddd;
}

.button-box_setup {
    background-color: #ff9600;
}

.button-disable {
    line-height: 30px;
    height: 30px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    font-size: 15px;
}

.button-disable span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-disable::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}

.button-disable::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
}

.button-disable:hover::before {
    transform: rotate(-8deg);
    background-color: rgba(255,255,255,0);
}

.button-disable:hover::after {
    transform: rotate(8deg);
    background-color: rgba(255,255,255,0);
}

.activity-desc p {
    padding: 5px 10px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.button-enable {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    line-height: 30px;
    height: 30px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #FFF;
}

.button-enable::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.button-enable:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.button-enable::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}

.button-enable:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.button_form {
    background-color: #0a7ddd;
}

